.all-map {
float:right;
top: 0px;
}
.date{
    display : flex;


}
.footer{
    background-color: #222222;
    width: 1366px;
    height: 133px;
    color: #0078A8;
    margin-top: 30px;
}
#cld{
    display: flex;
    width:250px;
}
.main{
    display:flex;
    Justify-content: space-between;
}



