<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Quick Start - Leaflet</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/css.css" %}"/>
    <link rel="stylesheet" href="{% static "css/draw.css" %}"/>
    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
<div id="date">
    Start Date:
    <input type="date" id="start"  >
</div>
<div>
    Finish Date:
    <input type="date" id="finish" min="05.05.2019"  max="07.05.2019" >
</div>
<div class="cloud">
    <form>
        <label>
            <input type="range" min="0" max="100" value="0">
            <input type="number" readonly >
        </label>
    </form>
</div>
<div id="map" style="width: 600px; height: 400px;">
</div>
<div id="reset_map">
    <button style="width: 70px; height: 20px;" >Reset</button>
</div>
<script src="{% static "js/map.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
</body>
</html>